<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagga Image Analyzer</title>
</head>
<body>
    <h1>Imagga Image Analyzer</h1>
    <form action="/analyze" method="post">
        <ul>
            {% for image in images %}
            <li>
                <img src="{{ image }}" alt="Imagen" width="300">
                <input type="hidden" name="images" value="{{ image }}">
            </li>
            {% endfor %}
        </ul>
        <button type="submit">Analizar</button>
    </form>
</body>
</html>

